
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
#RewriteBase /

Options -Indexes

RewriteRule ^pull/([^/]*)/?$ gitpull.php?pull=$1 [NC,QSA,L]
RewriteRule ^gitpull/([^/]*)/?$ gitpull.php?pull=$1 [NC,QSA,L]

</IfModule>

# END WordPress
