{{if .Parent}}
	{{ with .Parent }}

	<a href="{{ .Permalink }}" class="inline-flex no-underline text-blue-dark hover:underline items-center justify-between text-lg">
		<i data-feather='corner-left-up' class='w-4 h-4 align-middle mr-4'></i>
		{{ .LinkTitle }}
	</a>
	{{ end }}
{{ else }}
	<span class="block flex items-center text-lg text-bold text-white no-underline mb-8">
		<span class="flex h-8 w-8 rounded-full bg-white text-blue-dark flex items-center justify-center mr-2">
			<i data-feather='home' class='w-4 h-4 align-middle'></i>
		</span>
		{{.Site.Title}}
	</span>
{{ end }}
