{{if .Parent}}
	{{ with .Parent }}

	<div class="flex">
	<a href="{{ .Permalink }}" class="block flex items-center text-lg text-white text-bold no-underline hover:underline focus:underline">

		<span class="flex h-8 w-8 rounded-full bg-white text-blue-dark flex items-center justify-center mr-2" aria-label="Gå ett steg uppåt i hierarkin">
			<i data-feather='corner-left-up' class='w-4 h-4 align-middle'></i>
		</span>
		{{ .Title }}
	</a>
	</div>
	{{ end }}
{{ else }}
	<span class="block flex items-center text-lg text-bold text-white no-underline mb-8">
		<span class="flex h-8 w-8 rounded-full bg-white text-blue-dark flex items-center justify-center mr-2">
			<i data-feather='home' class='w-4 h-4 align-middle'></i>
		</span>
		{{.Site.Title}}
	</span>
{{ end }}
