



	<ul class="flex flex-wrap list-reset mt-8" aria-labelledby="Länklista">

		{{ $list := .Sections }}

		{{ if not .IsHome }}
			{{ $list = $list | append .Pages }}
		{{ end }}

		{{ range $list.ByWeight }}



		<li class="w-full flex sm:w-6/12 lg:w-4/12">
			<div class="flex-1 mb-8 mr-4">

				<a href="{{ .URL }}" class="text-blue-dark hover:bg-yellow-light focus:bg-yellow-light inline-block underline">
					<h2 class="mb-2 text-xl md:text-2xl">
							{{ .Param "linktitle" }}
					</h2>
				</a>

				<p class="leading-tight text-lg text-grey-darkest">
				{{if not .IsPage }}

					{{ $links := .Sections }}
					{{ $links := $links | append .Pages }}
					{{ $trio := first 3 $links.ByWeight }}
					{{ $trio_length := (len $trio) }}

					{{ range $index, $element := $trio}}

						<a href="{{ .URL }}" class="text-blue-dark hover:bg-yellow-light focus:bg-yellow-light inline-block">

							{{ .Param "linktitle"  }}

						</a>
						{{ if ne (add $index 1) $trio_length }}, {{end}}

					{{end}}

					{{ $rest := $links | symdiff (first 3 $links) }}

					{{ if $rest }}
						och <a href="{{ .URL }}">{{len $rest}} sidor till</a>
					{{ end }}

				{{else}}
					{{.Param "description" }}
				{{end}}
				</p>

			</div>
		</li>

		{{ end }}
	</ul>
