$font-family-monospace: Hack, Consolas, Monaco, "Andale Mono", monospace !default;
$font-family-sans-serif: "ff-scala-sans-pro", Arial, sans-serif !default;

$color-link: #004890 !default;
$color-text: #000000 !default;
$color-heading: #000000 !default;

$color-background: #fff !default;
$color-background-offset: #F4F4F4 !default;

$color-ui-hover: #B1B1B1 !default;
$color-ui-active: #e4e4e4 !default;



$color-header-background: #004890 !default;
$color-header-content: #fff !default;

$color-frame-border: #e4e4e4 !default;

$color-sidebar-heading: #000000 !default;

$highlight-theme: 'github' !default;

@import "normalize";
@import "_mq";
@import "styles/github";

@import "core/all";

//		"https://unpkg.com/@regionhalland/styleguide-v2@0.8.2/dist/css/main.min.css",
@import "components/asset-list";
//@import "components/browser";
@import "components/code";
@import "components/document";
@import "components/error";
@import "components/file-browser";
@import "components/frame";
@import "components/header";
@import "components/meta";
//@import "components/navigation";
//@import "components/pen";

@import "components/preview";
@import "components/prose";
@import "components/status";
//@import "components/tree";

.componentTabs {
	.ui-tabs-active {
		a {
			border-top-color: #fcaf15;
		}
	}
}

.Browser-panel {
	padding: 1em;
}
