<!DOCTYPE html>
<html lang="sv" dir="ltr" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    window.frctl = {
        env: 'static'
    };
    </script>
    <script>var cl = document.querySelector('html').classList; cl.remove('no-js'); cl.add('has-js');</script>
    <link rel="shortcut icon" href="../../assets/img/favicon.ico" type="image/ico">

<link rel="stylesheet" href="https://use.typekit.net/vip6kss.css?cachebust=1.2.0" type="text/css">

<link rel="stylesheet" href="https://unpkg.com/@regionhalland/styleguide-v2@0.8.2/dist/css/main.min.css?cachebust=1.2.0" type="text/css">

<link rel="stylesheet" href="../../assets/css/skin.css?cachebust=1.2.0" type="text/css">


<title>Ljus | Region Halland Design Guidelines</title>

</head>
<body>



<div>



    <nav aria-label="Huvudmeny">
	<div class="w-full border-b border-grey-lighter bg-blue-light z-50">
		<div class="py-3 container mx-auto">
			<span class="px-2 mr-1 py-1 text-sm no-underline hover:underline focus:underline text-white bg-blue-dark rounded-full inline-block">BETA</span>
			Hej! Denna webbplats är under utveckling. <a href="https://github.com/RegionHalland/design.regionhalland.se/issues/new">Bidra gärna med feedback</a>!
		</div>
	</div>
	<div class="w-full border-b border-grey-lighter bg-white z-50">
		<div class="py-3 container mx-auto">
			<div class="flex flex-wrap items-center justify-between">
				<a class="" title="Gå till startsida" aria-label="Gå till startsida" href="../../index.html">
					<img class="block w-40" alt="Region Halland - Vårdgivarwebben" src="https://vardgivare.regionhalland.se/app/themes/halland/dist/images/navigation_logo.svg">
				</a>
				<a href="https://github.com/RegionHalland/design.regionhalland.se" class="inline-flex no-underline text-black bg-yellow px-6 items-center justify-between py-2 text-lg rounded"><svg class="h-4 w-4 mr-2"><use xlink:href="#github"></use></svg> Bidra på GitHub</a>
			</div>
		</div>
	</div>
</nav>


    <div class="container mx-auto pt-8" data-role="body">

	 <div class="flex flex-wrap items-stretch -mx-4 justify-start">


		<aside class="w-full md:w-3/12 px-4 md:block" data-role="sidebar">
			
<nav class="Navigation">
	
	    
<div class="Navigation-group">

	<div class="border border-grey-lightest rounded mb-6" data-behaviour="tree" id="tree-docs">
	    <ul class="list-reset depth-1">
	        
    
        
        <li class="depth-0 border-t border-grey-lightest" data-behaviour="collection" id="tree-docs-collection-metoder">

			<span class="py-4 px-3 flex flex-wrap no-underline hover:underline items-center justify-between hover:bg-grey-lightest cursor-pointer">

				<span class="block text-black text-base block" data-role="toggle">
	                Metoder
	            </span>
				<div class="block h-8 w-8 rounded-full bg-white hover:bg-grey-white flex items-center justify-center" aria-label="Visa tillhörande länkar">
					<svg class="h-4 w-4 align-middle">
						<use xlink:href="#plus"></use>
					</svg>
				</div>
			</span>
            <ul class="list-reset bg-grey-lightest border-l-4 border-blue-dark" data-role="items">
            
            
            
            
    
        
        
        <li class="border-t border-grey-lightest "  data-role="item">
            <a class="flex py-4 px-3 block text-black text-base   no-underline hover:underline focus:underline " href="../../docs/metoder.html" data-pjax>

				<span class="flex  mr-1 ">Översikt</span>
				
					

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FDB813;" title="🙏 Under arbete"></span>


</div>

</div>


				
            </a>
        </li>
        
    
        
        
        <li class="border-t border-grey-lightest "  data-role="item">
            <a class="flex py-4 px-3 block text-black text-base   no-underline hover:underline focus:underline " href="../../docs/metoder/effektkartan.html" data-pjax>

				<span class="flex  mr-1 ">Effektkartan</span>
				
					

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FDB813;" title="🙏 Under arbete"></span>


</div>

</div>


				
            </a>
        </li>
        
    
        
        
        <li class="border-t border-grey-lightest "  data-role="item">
            <a class="flex py-4 px-3 block text-black text-base   no-underline hover:underline focus:underline " href="../../docs/metoder/kundresan.html" data-pjax>

				<span class="flex  mr-1 ">Kundresan</span>
				
					

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FDB813;" title="🙏 Under arbete"></span>


</div>

</div>


				
            </a>
        </li>
        
    
        
        
        <li class="border-t border-grey-lightest "  data-role="item">
            <a class="flex py-4 px-3 block text-black text-base   no-underline hover:underline focus:underline " href="../../docs/metoder/tjanstekartor.html" data-pjax>

				<span class="flex  mr-1 ">Tjanstekartor</span>
				
					

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FDB813;" title="🙏 Under arbete"></span>


</div>

</div>


				
            </a>
        </li>
        
    
        
        
        <li class="border-t border-grey-lightest "  data-role="item">
            <a class="flex py-4 px-3 block text-black text-base   no-underline hover:underline focus:underline " href="../../docs/metoder/user_stories.html" data-pjax>

				<span class="flex  mr-1 ">User Stories</span>
				
					

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FDB813;" title="🙏 Under arbete"></span>


</div>

</div>


				
            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="depth-0 border-t border-grey-lightest" data-behaviour="collection" id="tree-docs-collection-resurser">

			<span class="py-4 px-3 flex flex-wrap no-underline hover:underline items-center justify-between hover:bg-grey-lightest cursor-pointer">

				<span class="block text-black text-base block" data-role="toggle">
	                Resurser
	            </span>
				<div class="block h-8 w-8 rounded-full bg-white hover:bg-grey-white flex items-center justify-center" aria-label="Visa tillhörande länkar">
					<svg class="h-4 w-4 align-middle">
						<use xlink:href="#plus"></use>
					</svg>
				</div>
			</span>
            <ul class="list-reset bg-grey-lightest border-l-4 border-blue-dark" data-role="items">
            
            
            
            
    
        
        
        <li class="border-t border-grey-lightest "  data-role="item">
            <a class="flex py-4 px-3 block text-black text-base   no-underline hover:underline focus:underline " href="../../docs/resurser.html" data-pjax>

				<span class="flex  mr-1 ">Översikt</span>
				
					

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FDB813;" title="🙏 Under arbete"></span>


</div>

</div>


				
            </a>
        </li>
        
    
        
        <li class="depth-1 border-t border-grey-lightest" data-behaviour="collection" id="tree-docs-collection-design">

			<span class="py-4 px-3 flex flex-wrap no-underline hover:underline items-center justify-between hover:bg-grey-lightest cursor-pointer">

				<span class="block text-black text-base block" data-role="toggle">
	                Design
	            </span>
				<div class="block h-8 w-8 rounded-full bg-white hover:bg-grey-white flex items-center justify-center" aria-label="Visa tillhörande länkar">
					<svg class="h-4 w-4 align-middle">
						<use xlink:href="#plus"></use>
					</svg>
				</div>
			</span>
            <ul class="list-reset bg-grey-lightest border-l-4 border-blue-dark" data-role="items">
            
            
            
            
    
        
        
        <li class="border-t border-grey-lightest "  data-role="item">
            <a class="flex py-4 px-3 block text-black text-base   no-underline hover:underline focus:underline " href="../../docs/resurser/design.html" data-pjax>

				<span class="flex ">Översikt</span>
				
            </a>
        </li>
        
    
        
        <li class="depth-2 border-t border-grey-lightest" data-behaviour="collection" id="tree-docs-collection-varumarke">

			<span class="py-4 px-3 flex flex-wrap no-underline hover:underline items-center justify-between hover:bg-grey-lightest cursor-pointer">

				<span class="block text-black text-base block" data-role="toggle">
	                Varumarke
	            </span>
				<div class="block h-8 w-8 rounded-full bg-white hover:bg-grey-white flex items-center justify-center" aria-label="Visa tillhörande länkar">
					<svg class="h-4 w-4 align-middle">
						<use xlink:href="#plus"></use>
					</svg>
				</div>
			</span>
            <ul class="list-reset bg-grey-lightest border-l-4 border-blue-dark" data-role="items">
            
            
            
            
    
        
        
        <li class="border-t border-grey-lightest "  data-role="item">
            <a class="flex py-4 px-3 block text-black text-base   no-underline hover:underline focus:underline " href="../../docs/resurser/design/varumarke/komponentbibliotek.html" data-pjax>

				<span class="flex ">Komponentbibliotek</span>
				
            </a>
        </li>
        
    
        
        
        <li class="border-t border-grey-lightest "  data-role="item">
            <a class="flex py-4 px-3 block text-black text-base   no-underline hover:underline focus:underline " href="../../docs/resurser/design/varumarke/principles.html" data-pjax>

				<span class="flex ">Principles</span>
				
            </a>
        </li>
        
    
        
        <li class="depth-3 border-t border-grey-lightest" data-behaviour="collection" id="tree-docs-collection-profil">

			<span class="py-4 px-3 flex flex-wrap no-underline hover:underline items-center justify-between hover:bg-grey-lightest cursor-pointer">

				<span class="block text-black text-base block" data-role="toggle">
	                Profil
	            </span>
				<div class="block h-8 w-8 rounded-full bg-white hover:bg-grey-white flex items-center justify-center" aria-label="Visa tillhörande länkar">
					<svg class="h-4 w-4 align-middle">
						<use xlink:href="#plus"></use>
					</svg>
				</div>
			</span>
            <ul class="list-reset bg-grey-lightest border-l-4 border-blue-dark" data-role="items">
            
            
            
            
    
        
        
        <li class="border-t border-grey-lightest "  data-role="item">
            <a class="flex py-4 px-3 block text-black text-base   no-underline hover:underline focus:underline " href="../../docs/resurser/design/varumarke/profil.html" data-pjax>

				<span class="flex ">Översikt</span>
				
            </a>
        </li>
        
    

            </ul>
        </li>
        
    

            </ul>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="depth-1 border-t border-grey-lightest" data-behaviour="collection" id="tree-docs-collection-teknik">

			<span class="py-4 px-3 flex flex-wrap no-underline hover:underline items-center justify-between hover:bg-grey-lightest cursor-pointer">

				<span class="block text-black text-base block" data-role="toggle">
	                Teknik
	            </span>
				<div class="block h-8 w-8 rounded-full bg-white hover:bg-grey-white flex items-center justify-center" aria-label="Visa tillhörande länkar">
					<svg class="h-4 w-4 align-middle">
						<use xlink:href="#plus"></use>
					</svg>
				</div>
			</span>
            <ul class="list-reset bg-grey-lightest border-l-4 border-blue-dark" data-role="items">
            
            
            
            
    
        
        
        <li class="border-t border-grey-lightest "  data-role="item">
            <a class="flex py-4 px-3 block text-black text-base   no-underline hover:underline focus:underline " href="../../docs/resurser/teknik.html" data-pjax>

				<span class="flex ">Översikt</span>
				
            </a>
        </li>
        
    

            </ul>
        </li>
        
    

            </ul>
        </li>
        
    

	    </ul>
	</div>

</div>


	
	    
<div class="Navigation-group">

	<div class="border border-grey-lightest rounded mb-6" data-behaviour="tree" id="tree-components">
	    <ul class="list-reset depth-1">
	        
    
        
        <li class="depth-0 border-t border-grey-lightest" data-behaviour="collection" id="tree-components-collection-atoms">

			<span class="py-4 px-3 flex flex-wrap no-underline hover:underline items-center justify-between hover:bg-grey-lightest cursor-pointer">

				<span class="block text-black text-base block" data-role="toggle">
	                Atoms
	            </span>
				<div class="block h-8 w-8 rounded-full bg-white hover:bg-grey-white flex items-center justify-center" aria-label="Visa tillhörande länkar">
					<svg class="h-4 w-4 align-middle">
						<use xlink:href="#plus"></use>
					</svg>
				</div>
			</span>
            <ul class="list-reset bg-grey-lightest border-l-4 border-blue-dark" data-role="items">
            
            
            
            
    
        
        <li class="depth-1 border-t border-grey-lightest" data-behaviour="collection" id="tree-components-collection-label">

			<span class="py-4 px-3 flex flex-wrap no-underline hover:underline items-center justify-between hover:bg-grey-lightest cursor-pointer">

				<span class="block text-black text-base block" data-role="toggle">
	                Label
	            </span>
				<div class="block h-8 w-8 rounded-full bg-white hover:bg-grey-white flex items-center justify-center" aria-label="Visa tillhörande länkar">
					<svg class="h-4 w-4 align-middle">
						<use xlink:href="#plus"></use>
					</svg>
				</div>
			</span>
            <ul class="list-reset bg-grey-lightest border-l-4 border-blue-dark" data-role="items">
            
            
            
            
    
        
        
        <li class="border-t border-grey-lightest "  data-role="item">
            <a class="flex py-4 px-3 block text-black text-base   no-underline hover:underline focus:underline " href="rh-label.html" data-pjax>

				<span class="flex  mr-1 ">Label</span>
				
					

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FDB813;" title="🙏 Under arbete"></span>


</div>

</div>


				
            </a>
        </li>
        
    

            </ul>
        </li>
        
    

            </ul>
        </li>
        
    

	    </ul>
	</div>

</div>


	
</nav>

		</aside>

        <main class="w-full md:w-9/12 px-4 md:block" data-role="main">

	
            


    
    

<div id="component-500ab21661eaa9b2ec5714e390fc01ad">

    

    <div class="flex flex-wrap items-center justify-between mb-2">
    <h1 class="items-center flex flex-wrap">
		Ljus
		
	</h1>
    

<div class="Status Status--tag">

<label class="Status-label" style="background-color: #FDB813; border-color: #FDB813;">🙏 Under arbete</label>

</div>


</div>


    <div class="" data-behaviour="preview" id="preview-500ab21661eaa9b2ec5714e390fc01ad">
    <div class="mb-6">
        <div>
            
			<div class="border-grey-lighter border mb-2">
				<iframe
			 		class="w-full m-0 p-0"
                	data-role="window"
                	src="../preview/rh-label--light.html"
                	sandbox="allow-same-origin allow-scripts allow-forms"
                	 style=""
                	marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" scrolling="yes">
            	</iframe>
			</div>

			<a href="../preview/rh-label--light.html" class="text-sm font-normal no-underline hover:underline focus:underline" title="Component preview">
				<svg class="h-5 w-5 ml-1">
					<use xlink:href="#external-link"/>
				</svg> Förhandsgranska
			</a>
        </div>
        <div class="Preview-overlay"></div>
    </div>
</div>


    <div class="border-grey border-l border-r border-b bg-grey-lightest" data-role="info">
    <div class="componentTabs flex flex-col" id="browser-500ab21661eaa9b2ec5714e390fc01ad">

    

<ul class="flex flex-wrap items-center justify-between w-full bg-white">
    
        

			<li class="flex-grow  ui-tabs-active " data-role="tab">
				<a
					href="#browser-500ab21661eaa9b2ec5714e390fc01ad-panel-notes"
					class="block border-t-4 border-grey py-4 px-8 hover:bg-grey-lightest text-black no-underline hover:underline">
						Notes
				</a>
			</li>
        
    
        

			<li class="flex-grow " data-role="tab">
				<a
					href="#browser-500ab21661eaa9b2ec5714e390fc01ad-panel-html"
					class="block border-t-4 border-grey py-4 px-8 hover:bg-grey-lightest text-black no-underline hover:underline">
						HTML
				</a>
			</li>
        
    
        

			<li class="flex-grow " data-role="tab">
				<a
					href="#browser-500ab21661eaa9b2ec5714e390fc01ad-panel-view"
					class="block border-t-4 border-grey py-4 px-8 hover:bg-grey-lightest text-black no-underline hover:underline">
						View
				</a>
			</li>
        
    
        

			<li class="flex-grow " data-role="tab">
				<a
					href="#browser-500ab21661eaa9b2ec5714e390fc01ad-panel-context"
					class="block border-t-4 border-grey py-4 px-8 hover:bg-grey-lightest text-black no-underline hover:underline">
						Context
				</a>
			</li>
        
    
        
	        
        
    
        

			<li class="flex-grow " data-role="tab">
				<a
					href="#browser-500ab21661eaa9b2ec5714e390fc01ad-panel-info"
					class="block border-t-4 border-grey py-4 px-8 hover:bg-grey-lightest text-black no-underline hover:underline">
						Info
				</a>
			</li>
        
    
</ul>


    
    	<div class="Browser-panel Browser-notes" data-role="tab-panel" id="browser-500ab21661eaa9b2ec5714e390fc01ad-panel-notes">
    <div class="Prose Prose--condensed">
        
        <p>Info om komponenten, skriv på i config filen.</p>

        
    </div>
</div>

    
    	
<div class="Browser-panel Browser-code is-active" data-role="tab-panel" id="browser-500ab21661eaa9b2ec5714e390fc01ad-panel-html">
    <code class="Code Code--lang-html">
        
        <pre><span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">'px-2 mr-2 mb-2 py-1 text-sm text-black bg-grey-lightest rounded-full inline-block'</span>&gt;</span>
	Ljus
<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span></pre>
        
    </code>
</div>

    
    	<div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-500ab21661eaa9b2ec5714e390fc01ad-panel-view">
    <code class="Code Code--lang-handlebars">
        <pre><span class="xml"><span class="hljs-tag">&lt;<span class="hljs-name">label</span>
	<span class="hljs-attr">class</span>=<span class="hljs-string">'px-2 mr-2 mb-2 py-1 text-sm text-black </span></span></span><span class="hljs-template-variable">{{ modifier }}</span><span class="xml"><span class="hljs-tag"><span class="hljs-string"> rounded-full inline-block'</span>&gt;</span>
	</span><span class="hljs-template-variable">{{ text }}</span><span class="xml">
<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span></span></pre>
    </code>
</div>

    
    	<div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-500ab21661eaa9b2ec5714e390fc01ad-panel-context">
    <code class="Code Code--lang-json">
        
            
            <pre>{
  <span class="hljs-attr">"modifier"</span>: <span class="hljs-string">"bg-grey-lightest"</span>,
  <span class="hljs-attr">"text"</span>: <span class="hljs-string">"Ljus"</span>,
  <span class="hljs-attr">"title"</span>: <span class="hljs-string">"Ljus"</span>
}</pre>
            
        
    </code>
</div>

    
    	


    
    	<div class="Browser-panel" data-role="tab-panel" id="browser-500ab21661eaa9b2ec5714e390fc01ad-panel-info">
    <ul class="Meta">
        <li class="Meta-item">
            <strong class="Meta-key">Handle:</strong>
            <span class="Meta-value">@rh-label--light</span>
        </li>
        
        
        
        
        
        <li class="Meta-item">
            <strong class="Meta-key">Variants <em class="Meta-count">(8)</em>:</strong>
            <span class="Meta-value Meta-value--linkList">
            
                <a href="rh-label--default.html">
                    <span>Default</span>
                </a>, 
            
                <a href="rh-label--secondary.html">
                    <span>Secondary</span>
                </a>, 
            
                <a href="rh-label--positive.html">
                    <span>Positive</span>
                </a>, 
            
                <a href="rh-label--negative.html">
                    <span>Negative</span>
                </a>, 
            
                <a href="rh-label--warning.html">
                    <span>Warning</span>
                </a>, 
            
                <a href="rh-label--info.html">
                    <span>Info</span>
                </a>, 
            
                <a href="">
                    <span>Light</span>
                </a>, 
            
                <a href="rh-label--dark.html">
                    <span>Dark</span>
                </a>
            
            </span>
        </li>
        
        <li class="Meta-item">
            <strong class="Meta-key">Preview:</strong>
            <span class="Meta-value">
                <ul>
                    <li><a data-no-pjax href="../preview/rh-label--light.html"><span>With layout</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                    <li><a data-no-pjax href="../render/rh-label--light.html"><span>Component only</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                </ul>
            </span>
        </li>
        <li class="Meta-item">
            <strong class="Meta-key">Filesystem Path:</strong>
            <span class="Meta-value">komponenter/Atoms/Label/label.hbs</span>
        </li>
        
        
    </ul>
</div>

    

</div>

</div>


    

</div>



        </main>

	</div>

    </div>
</div>




<script src="https://code.jquery.com/jquery-3.3.1.min.js?cachebust=1.2.0"></script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js?cachebust=1.2.0"></script>

<script src="../../assets/scripts/main.js?cachebust=1.2.0"></script>



</body>
</html>
