

<!-- Start: @rh-label--default -->
<label
	class='px-2 mr-2 mb-2 py-1 text-sm text-black bg-blue rounded-full inline-block'>
	Primär
</label>
<!-- End: @rh-label--default -->

<!-- Start: @rh-label--secondary -->
<label
	class='px-2 mr-2 mb-2 py-1 text-sm text-black bg-blue-light rounded-full inline-block'>
	Sekundär
</label>
<!-- End: @rh-label--secondary -->

<!-- Start: @rh-label--positive -->
<label
	class='px-2 mr-2 mb-2 py-1 text-sm text-black bg-green rounded-full inline-block'>
	Positidv
</label>
<!-- End: @rh-label--positive -->

<!-- Start: @rh-label--negative -->
<label
	class='px-2 mr-2 mb-2 py-1 text-sm text-black bg-red-light rounded-full inline-block'>
	Negativ
</label>
<!-- End: @rh-label--negative -->

<!-- Start: @rh-label--warning -->
<label
	class='px-2 mr-2 mb-2 py-1 text-sm text-black bg-yellow rounded-full inline-block'>
	Varning
</label>
<!-- End: @rh-label--warning -->

<!-- Start: @rh-label--info -->
<label
	class='px-2 mr-2 mb-2 py-1 text-sm text-black bg-grey rounded-full inline-block'>
	Info
</label>
<!-- End: @rh-label--info -->

<!-- Start: @rh-label--light -->
<label
	class='px-2 mr-2 mb-2 py-1 text-sm text-black bg-grey-lightest rounded-full inline-block'>
	Ljus
</label>
<!-- End: @rh-label--light -->

<!-- Start: @rh-label--dark -->
<label
	class='px-2 mr-2 mb-2 py-1 text-sm text-black bg-grey-darkest rounded-full inline-block'>
	Mörk
</label>
<!-- End: @rh-label--dark -->

