@import url("https://use.typekit.net/vip6kss.css");
@import url("https://unpkg.com/@regionhalland/styleguide-v2@0.8.2/dist/css/main.min.css");

svg {
	vertical-align: text-bottom;
}


a {
	color: #004890;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}


.highlight pre {
	overflow:auto;
	padding: 1rem 3rem 1rem 1rem;
	position: relative;
}

.highlight pre:after {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 3rem;
	background-image:linear-gradient(to right, rgba(39, 40, 34, 0) , rgba(39, 40, 34, 0.8) );
	content: "";
}

code {
	border-radius: 4px;
	background: #f4f4f4;
	padding: 2px;
	font-size: 0.9rem;
}

.highlight code {
	border-radius: 0;
	background: none;
	padding: 0;
}

.numbered {
	counter-reset: h2;



	h2 {
		counter-reset: h3;
	}

	h3 {
		counter-reset: h4;
	}

	h4 {
		counter-reset: h5;
	}

	h5 {
		counter-reset: h6;
	}



	h2:before {
		counter-increment : h2;
		content : counter(h2,decimal) ". ";
	}

	h3:before {
		counter-increment : h3;
		content : counter(h2,decimal) "." counter(h3,decimal) ". ";

	}

	h4:before {
		counter-increment : h4;
		content : counter(h2,decimal) "." counter(h3,decimal) "." counter(h4,decimal) ". ";

	}

	h5:before {
		counter-increment : h5;
		content : counter(h2,decimal) "." counter(h3,decimal) "." counter(h4,decimal) "." counter(h5,decimal) ". ";

	}

	h6:before {
		counter-increment : h6;
		content : counter(h2,decimal) "." counter(h3,decimal) "." counter(h4,decimal) "." counter(h5,decimal) "." counter(h6,decimal) ". ";

	}
}

#TableOfContents {

	> ul > li > ul {
		margin-left: 0 !important;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;


		li ul {
			margin-left: 0.75rem;
		}

		li {
			margin: 0;
			padding: 0;
		}

		a {
			padding: 0.25rem 0;
			display: block;
		}
	}
}
