@import url("https://use.typekit.net/vip6kss.css");
@import url("https://unpkg.com/@regionhalland/styleguide-v2@0.8.2/dist/css/main.min.css");

svg {
	vertical-align: text-bottom;
}


a {
	color: #004890;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}




#TableOfContents {

	> ul > li > ul {
		margin-left: 0 !important;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;


		li ul {
			margin-left: 0.75rem;
		}

		li {
			margin: 0;
			padding: 0;
		}

		a {
			padding: 0.25rem 0;
			display: block;
		}
	}
}
