{{ define "main" }}

<div class="bg-blue-dark mb-16">
	<div class="w-full max-w-2xl mx-auto px-4 pt-16 pb-12">
		{{ partial "menu/back.html" .}}
		<h1 class="text-3xl md:text-4xl text-white mb-4">  {{ .Title }}</h1>
		<p class="text-blue-light leading-loose text-xl">
			{{ .Param "description" }}
		</p>
		{{ $list := .Sections }}
		{{ partial "menu.html" (dict "menu" . "list" $list "type" "section") }}

	</div>
</div>
<div class="px-4 pt-8 md:pt-16 pb-12 w-full max-w-2xl mx-auto">
	<div class="flex flex-wrap items-stretch -mx-4 justify-start">
		<main class="w-full px-4">
			<article class="article">
				<header>

				</header>
				{{ .Content }}
			</article>
		</main>
	</div>
</div>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
{{ end }}
