{{ define "main" }}


<div class="mb-16">

	<div class="w-full max-w-2xl mx-auto px-4 py-12">
		{{ partial "menu/back.html" .}}


		<div class="md:flex md:flex-row-reverse justify-between items-baseline">
			<a href="{{ .Param "content_path" }}/{{ .File.Path }}" class="text-grey-darkest text-right mb-4 md:mb-0"><i data-feather='edit' class='w-4 h-4 mr-2'></i> Redigera denna sidan</a>
			<h1 class="text-3xl md:text-4xl my-4">{{ .Title }}</h1>
		</div>

		<p class="text-grey-darkest leading-loose text-xl">
			{{ .Param "description" }}
		</p>




		{{ partial "menu/menu.html" . }}

	</div>
</div>

    <div class="px-4 pt-8 md:pt-8 pb-12 w-full max-w-2xl mx-auto">

        <div class="flex flex-wrap items-stretch -mx-4 justify-start">


	        <main class="w-full px-4">


				<article class="article">
	                {{ .Content }}
	            </article>
        	</main>




        </div>

    </div>


{{ end }}
