{{ define "main" }}

    <div class="px-4 pt-8 md:pt-16 pb-12 w-full max-w-2xl mx-auto">

        <div class="flex flex-wrap items-stretch -mx-4 justify-start">
			<aside class="w-full md:w-3/12 px-4 mb-8 hidden md:block">
            {{ partial "sidebar.html" .}}
			</aside>

	        <main class="w-full px-4 md:w-9/12 lg:w-9/12">

                <div class="md:flex md:flex-row-reverse justify-between items-baseline">
					<a href="{{ .Param "content_path" }}/{{ .File.Path }}" class="text-grey-darkest text-right mb-4 md:mb-0"><i data-feather='edit' class='w-4 h-4 mr-2'></i> Redigera denna sidan</a>
					<h1 class="text-3xl md:text-4xl my-4">{{ .Title }}</h1>
				</div>

	            <article class="article lg:w-10/12">

                    {{ if (gt .WordCount 50 )  }}
                    <header>
                    <h2>På sidan</h2>
                    </header>
                    {{.TableOfContents}}
                    {{ end }}
                    <hr>
                        {{ .Content }}

	            </article>

    			

	        </main>






        </div>

    </div>


{{ end }}
