{{ define "main" }}

    <div class="px-4 pt-8 md:pt-16 pb-12 w-full max-w-2xl mx-auto">

        <div class="flex flex-wrap items-stretch -mx-4 justify-start">
			<aside class="w-full md:w-3/12 px-4 mb-8 hidden md:block">
            {{ partial "sidebar.html" .}}
			</aside>

	        <main class="w-full px-4 md:w-9/12 lg:w-9/12">
	            <article class="article">

                        <header class="flex justify-between items-baseline">
        				<h1 class="text-3xl md:text-4xl mb-4">{{ .Title }}</h1>
        				<a href="{{ .Param "content_path" }}/{{ .File.Path }}" class="text-grey-darkest"><i data-feather='edit' class='w-4 h-4 ml-2'></i> Redigera denna sidan</a>
        				</header>

                        <div class=" lg:w-6/12">
                        {{ .Content }}
                        </div>
	            </article>
	        </main>



			{{ if (gt .WordCount 50 )  }}
			<aside class="w-full md:w-3/12 px-4">
			    <header>
			    <h2>På sidan</h2>
			    </header>
			    {{.TableOfContents}}
			</aside>
			{{ end }}


        </div>

    </div>


{{ end }}
