$font-family-monospace: Hack, Consolas, Monaco, "Andale Mono", monospace !default;
$font-family-sans-serif: "ff-scala-sans-pro", Arial, sans-serif !default;

$color-link: #004890 !default;
$color-text: #000000 !default;
$color-heading: #000000 !default;

$color-background: #fff !default;
$color-background-offset: #E4E4E4 !default;

$color-ui-hover: rgba($color-text, 0.05) !default;
$color-ui-active: rgba($color-text, 0.075) !default;

$color-header-background: #004890 !default;
$color-header-content: #fff !default;

$color-frame-border: rgba($color-text, 0.25) !default;

$color-sidebar-heading: rgba($color-text, 0.75) !default;

$highlight-theme: 'github' !default;

@import "normalize";
@import "_mq";
@import "styles/github";

@import "core/all";

@import "components/asset-list";
