{{if .Parent}}
{{ with .Parent }}
<a href="{{ .Permalink }}" class="block flex py-4 px-3 items-center text-lg text-bold no-underline hover:underline focus:underline">

	<span class="flex h-8 w-8 rounded-full bg-white flex items-center justify-center mr-2" aria-label="Visa tillhörande länkar">
		<i data-feather='chevron-left' class='w-4 h-4 align-middle'></i>
	</span>
	{{ .Title }}
</a>
{{ end }}
{{ else }}
<span href="{{ .Permalink }}" class="block flex py-4 px-3 items-center text-lg text-bold no-underline">
	<span class="flex h-8 w-8 rounded-full bg-white flex items-center justify-center mr-2" aria-label="Visa tillhörande länkar">
		<i data-feather='home' class='w-4 h-4 align-middle'></i>
	</span>
	{{ .Title }}
</span>
{{ end }}
