



<div class="bg-green-light border-b-4 border-green-light">
    <div class="max-w-2xl w-full mx-auto">
        <nav class="px-4">
            <ol class="breadcrumbs list-reset" aria-label="Länkstig" itemscope="" itemtype="http://schema.org/BreadcrumbList">

				{{ template "breadcrumbnav" (dict "p1" . "p2" .) }}

            </ol>
        </nav>
    </div>
</div>

{{ define "breadcrumbnav" }}
	{{ if .p1.Parent }}
		{{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )  }}
	{{ else if not .p1.IsHome }}
		{{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )  }}
	{{ end }}

	{{ if eq .p1 .p2 }}

		<li class="breadcrumbs__item inline-block py-2 sm:py-2 relative" aria-current="page" itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
			<div class="absolute pin-b w-full -mb-1 h-1 bg-green rounded-t"></div>
			<span class="breadcrumbs__span text-black" itemprop="name">{{ .p1.Title }}</span>
			<meta itemprop="position" content="2">
		</li>

	{{ else }}

		<li class="breadcrumbs__item inline-block py-2 sm:py-2 relative" itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
			<a class="breadcrumbs__link text-black" href="{{ .p1.Permalink }}">{{ .p1.Title }}</a>

			<span class="inline-block text-black opacity-25">
				<i data-feather='chevron-right' class='w-4 h-4 mx-2'></i>
			</span>

			<meta itemprop="position" content="1">
		</li>

	{{ end }}
{{ end }}
