<nav>

<ul class="list-reset border border-grey-lightest rounded overflow-hidden">
	    {{ $curPage := .UniqueID }}
	    {{ with .Parent }}

		<li class="border-t border-grey-lightest bg-grey-lightest">
			<a href="{{ .Permalink }}" class="block flex py-4 px-3 items-center text-lg text-bold no-underline hover:underline focus:underline">

				<span class="flex h-8 w-8 rounded-full bg-white flex items-center justify-center mr-2" aria-label="Visa tillhörande länkar">
					<i data-feather='chevron-left' class='w-4 h-4 align-middle'></i>
				</span>
				{{ .Title }}
			</a>
		</li>


	    {{ end }}

	        {{ range .CurrentSection.Pages }}
	        	<li class="border-t border-grey-lightest">
					<a href="{{ .Permalink }}" class="block py-4 px-3 {{ if eq $curPage .UniqueID }} active font-bold {{ end }}">
						<span class="inline-block text-black text-base no-underline hover:underline focus:underline">{{ .Title }}</span>
					</a>
				</li>
	        {{ end }}
	    </ul>
	</ul>
</nav>
