<nav>

<ul class="list-reset border border-grey-lightest rounded overflow-hidden">
	    {{ $curPage := .UniqueID }}


		<li class="border-t border-grey-lightest bg-grey-lightest">
			{{ partial "backBtn.html" . }}
		</li>


	        {{ range .CurrentSection.Pages }}
	        	<li class="border-t border-grey-lightest">
					<a href="{{ .Permalink }}" class="block py-4 px-3 {{ if eq $curPage .UniqueID }} active font-bold {{ end }}">
						<span class="inline-block text-black text-base no-underline hover:underline focus:underline">{{ .Title }}</span>
					</a>
				</li>
	        {{ end }}
	    </ul>
	</ul>
</nav>
