{{ $list := .CurrentSection.Pages }}


<nav>

	<span class="rounded mb-4 block bg-blue-dark p-4">
		{{ partial "menu/back.html" . }}
	</span>

	<ul class="list-reset border border-grey-lightest rounded overflow-hidden">
	    {{ $curPage := .UniqueID }}





        {{ range $list.ByWeight }}
        	<li class="border-t border-grey-lightest">
				<a href="{{ .Permalink }}" class="block py-4 px-3 {{ if eq $curPage .UniqueID }} active font-bold {{ end }}">
					<span class="inline-block text-black text-base no-underline hover:underline focus:underline">{{ .Title }}</span>
				</a>
			</li>
        {{ end }}

	</ul>
</nav>
